// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #2196f3
$secondary = #26A69A
$accent    = #9C27B0

// used by dark mode
$dark-page ?= #1F2738
$dark      ?= #333D52

$positive  = #00CA00
$negative  = #E64141
$info      = #00D0FF
$warning   = #FFD400

$space-base ?= 8px
$toolbar-min-height ?= 60px

$shadow-color ?= $blue-2
$layout-shadow ?= 0 0 14px 2px rgba($primary, .1)

// custom
$body-bg--light = lighten($primary, 95%)
$body-bg--dark = #1F2738
$color-base = $grey-8

$text-base = #333

